<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>C:點協調作業</title>
</head>

<body>
  <!-- remind modal&&button -->

  <div id="remind_modal" class="modal fade bd-example-modal-sm " data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content text-center">
        <button name="remind_btn" type="button" class="btn btn-primary" onclick="$('#remind_modal').modal('toggle')"
          style="display: none;">
        </button>
        <h3>[共三回合,接下來是第2回合]</h3>
        <br>
        請按Enter鍵繼續.....
      </div>
    </div>
  </div>
  <!-- main modal -->
  <div class="modal fade" id="main-model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <button class="btn btn-outline-secondary " style="position: absolute; right: 20px; top: 15px;"
            onclick="$('form').submit();">回首頁</button>
          <h4 class="modal-title " style="margin: 0 auto;" id="exampleModalLongTitle">教學</h4>
        </div>
        <div class="modal-body m-2 p-0 text-center" style="background-color: rgba(255, 196, 196, 0.651);height: 18em;">
          <img src="/image/c.png" alt="information" class=" img-fluid  p-0" style="height: 100%;">
        </div>
        <div class="btn-group d-flex p-2">
          <button type="button" class=" btn w-100  btn-outline-success" value="practice">練習模式</button>
          <button type="button" class="  btn w-100  btn-outline-success " value="reality">實際測驗</button>
        </div>
        <div class="d-flex m-2">
          <button id="start" type="button" class="w-100 btn btn-primary">開始</button>
        </div>
      </div>
    </div>
  </div>
  <!-- cross -->
  <ten id="cross" class="center-screen " >+</ten>
  <!-- controller -->
  <div style="display: none;">
    <button name="ballrun" onclick="runball()">runball</button>
    <button name="ballrenew" onclick="Renew()">renew</button>
  </div>

  <!-- range -->
  <div id="spawn" style="display: none;"></div>
  <!-- spawn the ball -->

  <!-- finish btn for game -->
  <button id="finish_btn" style="display: none;"></button>
  <!-- post form -->
  <form method="POST" action="/GQ/EQ" style="display: none;">
    <input name="ID" value="<%=ID%>">
    <input name="password" value="<%=password%>">
  </form>
</body>
<script type="text/javascript" src="/javascripts/Class_inform.js"></script>
<script type="text/javascript">
  var game_get = null;
  var game;
  var pause = true;
  var ox = $(window).width() / 2;
  var oy = $(window).height() / 2;
  console.log($(window).height());
  var oo = $(window).height()-200;
  var r = oo / 2;
  var movement = 80;
  var apawn_div = document.querySelector('#spawn');
  var ball_width = 10,
    leftNum = 0,
    topNum = 0,
    aBall = null,
    length = 0;
  window.onresize = reSize;
  reSize(ball_width);
  if($(window).height()<769){
    ball_width =7;
    movement = 70;
  }
   

  console.log(ball_width);
  function reSize(radius) {
    leftMax = document.documentElement.clientWidth - ball_width;
    topMax = document.documentElement.clientHeight - ball_width;
  }

  function createBall(obj, num, init) { // create the ball function
    for (var i = 0; i < num; i++) {
      var cBall;
      cBall = document.createElement('ball');
      cBall.className = 'ball-10';
      cBall.style.backgroundColor = "rgb(0,0,100)";
      cBall.setAttribute("direction", 'random');
      obj.appendChild(cBall);
    };
  };

  function runball() {
    var ball = apawn_div.children;
    for (var i = 0; i < apawn_div.childElementCount; i++) {
      let dir = ball[i].getAttribute('direction');
      if (dir == 'random') {
        ball[i].animate({
          top: parseInt(ball[i].style.top) + aBall[i].leftNum + 'px',
          left: parseInt(ball[i].style.left) + aBall[i].topNum + 'px'
        }, 1000);
      } else if (dir == 'right') {
        // ball[i].style.backgroundColor = "yellow";
        ball[i].animate({
          left: parseInt(ball[i].style.left) + movement + 'px'
        }, 1000);
      } else if (dir == 'left') {
        // ball[i].style.backgroundColor = "yellow";
        ball[i].animate({
          left: parseInt(ball[i].style.left) - movement + 'px'
        }, 1000);
      } else if (dir == 'up') {
        // ball[i].style.backgroundColor = "yellow";
        ball[i].animate({
          top: parseInt(ball[i].style.top) - movement + 'px'
        }, 1000);
      } else if (dir == 'down') {
        // ball[i].style.backgroundColor = "yellow";
        ball[i].animate({
          top: parseInt(ball[i].style.top) + movement + 'px'
        }, 1000);
      }
    }
  }

  function Renew() {
    var childball = apawn_div.childNodes;
    childball.forEach(cBall => {
      for (let i = 0; i < 5; ++i) {
        let y1 = oy - r + (Math.random() * oo) + ball_width;
        let x1 = ox - r + (Math.random() * oo) + ball_width;
        cBall.style.top = y1 + 'px';
        cBall.style.left = x1 + 'px';
        if (!((ox - x1) * (ox - x1) + (oy - y1) * (oy - y1) > r * r)) {
          break;
        }
      }
      var nh = Math.floor(Math.random() * 360);
      Xd = Math.cos(nh) * movement;
      Yd = Math.sin(nh) * movement;
      //get place
      cBall.leftNum = 1 + Xd;
      cBall.topNum = 1 + Yd;
    });
  }

  $(window).on('load', function () {
    createBall(apawn_div, 500, true); ///pass 500 ball 
    aBall = apawn_div.children;
    length = aBall.length;

    $('#main-model').modal({
      backdrop: 'static',
      keyboard: false
    });
    if (localStorage.getItem("one") != null) { //check if have local storage
      $.post("/GQ/SQ/saveData", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          one: localStorage.getItem("one"),
          group: localStorage.getItem("group"),
          type: 'C',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("one");
              localStorage.removeItem("group");
              alert("上次未上傳資料上傳成功");
            } else {
              alert("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            alert("與伺服器斷訊")
        },
        "json"
      );
    }
    if (localStorage.getItem("pr") != null) {
      $.post("/GQ/PR/savePR", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          data: localStorage.getItem("pr"),
          type: 'C',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("pr");
              console.log("上次未上傳資料上傳成功");
            } else {
              console.log("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            console.log("與伺服器斷訊")
        },
        "json"
      );
    }
  });

  $('.btn-group').on('click', '.btn', function () { //practice reality change
    game_get = $(this).val();
    $(this).addClass('active').siblings().removeClass('active');
  });

  $('#start').on('click', function () { //start the game
    if (game_get == "practice") {
      game = new C([1, 40]);
      game.process();
      $('#main-model').modal('hide');
    } else if (game_get == "reality") {
      console.log("reality");
      game = new C([3, 40]); //40
      game.process();
      $('#main-model').modal('hide');
    }
  });

  $('#finish_btn').on('click', function () {
    console.log(game.one);
    console.log(game.group);
    console.log(game.pr);
    if (game_get == "reality") {
      $('form').children('input[name="one"]').val(game.one);
      $('form').children('input[name="group"]').val(game.group);
      localStorage.setItem("one", game.one);
      localStorage.setItem("group", game.group);
      $.post("/GQ/SQ/saveData", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          one: game.one,
          group: game.group,
          type: 'C',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("one");
              localStorage.removeItem("group");
              $('form').submit();
              alert("資料上傳成功");
            } else {
              alert("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            alert("與伺服器斷訊")
        },
        "json"
      );
      //save pr
      $.post("/GQ/PR/savePR", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          data: game.pr,
          type: 'C',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("pr")
              $('form').submit();
              console.log("資料上傳成功");
            } else {
              console.log("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            console.log("與伺服器斷訊")
        },
        "json"
      );
    } else { // practice finish reload the page
      location.reload();
    }
  });
</script>

</html>