<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>F:眼神線索典範</title>
</head>

<body>
  <!-- main modal -->
  <div class="modal fade" id="main-model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <button class="btn btn-outline-secondary " style="position: absolute; right: 20px; top: 15px;" onclick="$('form').submit();">回首頁</button>
          <h4 class="modal-title " style="margin: 0 auto;" id="exampleModalLongTitle">教學</h4>
        </div>
        <div class="modal-body m-2 p-0 text-center" style="background-color: rgba(255, 196, 196, 0.651);height: 18em;">
          <img src="/image/F.png" alt="information" class=" img-fluid  p-0" style="height: 100%;">
        </div>
        <div class="btn-group d-flex p-2">
          <button type="button" class=" btn w-100  btn-outline-success" value="practice">練習模式</button>
          <button type="button" class="  btn w-100  btn-outline-success " value="reality">實際測驗</button>
        </div>
        <div class="d-flex m-2">
          <button id="start" type="button" class="w-100 btn btn-primary">開始</button>
        </div>
      </div>
    </div>
  </div>
  <!-- cross -->
  <ten id="cross" class="center-screen cross" style="font-size: 28px;color: black;"></ten>
  <!-- pic -->
  <img id="image" src="/image/eye.jpg" class=" center-screen" alt="look" style="display: none;"/>
  <!-- rect div  child no change-->
  <div id="rect_div">
    <rect name="left" class="center-screen" style="margin-left: -250px; margin-top: -40px; width: 30px; height: 30px; background-color: black;display: none;"></rect>
    <rect name="right" class=" center-screen" style="margin-left: 250px; margin-top: -40px; width: 30px; height: 30px; background-color: black;display: none;"></rect>
  </div>
  <!-- finish btn for game -->
  <button id="finish_btn" style="display: none;"></button>
  <!-- post form -->
  <form method="POST" action="/GQ/EQ" style="display: none;">
    <input name="ID" value="<%=ID%>">
    <input name="password" value="<%=password%>">
  </form>
</body>
<script type="text/javascript" src="/javascripts/Class_inform.js" ></script>
<script type="text/javascript">
  var game_get = null;
  var game;

  $(window).on('load', function () {
    $('#main-model').modal({
      backdrop: 'static',
      keyboard: false
    });

    if (localStorage.getItem("one") != null) { //check if have local storage
      $.post("/GQ/SQ/saveData", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          one: localStorage.getItem("one"),
          group: localStorage.getItem("group"),
          type: 'F',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.clear();
              alert("上次未上傳資料上傳成功");
            } else {
              alert("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            alert("與伺服器斷訊")
        },
        "json"
      );
    }
  });

  $('.btn-group').on('click', '.btn', function () { //practice reality change
    game_get = $(this).val();
    $(this).addClass('active').siblings().removeClass('active');
  });

  $('#start').on('click', function () { //start the game
    if (game_get == "practice") {
      game = new F(20);
      game.process();
      $('#main-model').modal('hide');
    } else if (game_get == "reality") {
      game = new F(96);
      game.process();
      $('#main-model').modal('hide');
    }
  });

  $('#finish_btn').on('click', function () {
       console.log(game.one);
      console.log(game.group);
    if (game_get == "reality") {
      $('form').children('input[name="one"]').val(game.one);
      $('form').children('input[name="group"]').val(game.group);
      localStorage.setItem("one", game.one);
      localStorage.setItem("group", game.group);
      $.post("/GQ/SQ/saveData", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          one: game.one,
          group: game.group,
          type: 'F',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.clear();
              $('form').submit();
              alert("資料上傳成功");
            } else {
              alert("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            alert("與伺服器斷訊")
        },
        "json"
      );
    } else { // practice finish reload the page
     location.reload();
    }
  });
</script>

</html>