<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>J:空間記憶</title>
</head>
<style>
  a:hover {
    background-color: rgb(255, 163, 163);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-flow: row;
    width: 600px;
    height: 600px;
    background-color: #000000;
    border-width: 2px;
  }

  .grid>div {
    color: #fff;
    font-size: 50px;
    line-height: 2;
    text-align: center;
    background: var(--backcolor);
    /* padding: 5px; */
  }

  .grid>div>rect {
    margin: 0;
    width: 100px;
    height: 100px;
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    transform: translate(50%, 50%)
  }
</style>

<body>
  <!-- remind modal&&button -->
  <div id="remind_modal" class="modal fade bd-example-modal-sm " data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content text-center">
        <button name="remind_btn" type="button" class="btn btn-primary" onclick="$('#remind_modal').modal('toggle')"
          style="display: none;">
        </button>
        <h3></h3>
        <br>
        請按Enter鍵繼續.....
      </div>
    </div>
  </div>
  <!-- main modal -->
  <div class="modal fade" id="main-model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <button class="btn btn-outline-secondary " style="position: absolute; right: 20px; top: 15px;"
            onclick="$('form').submit();">回首頁</button>
          <h4 class="modal-title " style="margin: 0 auto;" id="exampleModalLongTitle">教學</h4>
        </div>
        <div id="image_div" class="modal-body m-2 p-0 text-center"
          style="background-color: rgba(255, 196, 196, 0.651);height: 18em;">
          <img src="/image/J.png" alt="information" class=" img-fluid  p-0" style="height: 100%;">
          <img src="/image/J_1.png" alt="information" class=" img-fluid  p-0 d-none" style="height: 100%;">
          <a class="carousel-control-next" style="width: 20px; " role="button" onclick="Next()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-group d-flex p-2">
          <button type="button" class=" btn w-100  btn-outline-success" value="practice">練習模式</button>
          <button type="button" class="  btn w-100  btn-outline-success " value="reality">實際測驗</button>
        </div>
        <div class="d-flex m-2">
          <button id="start" type="button" class="w-100 btn btn-primary">開始</button>
        </div>
      </div>
    </div>
  </div>
  <div id="nine-grid" class="square" style="display: none;">
    <div class="square-inner grid " style="position: relative; margin: auto; margin-top: 5%;">
      <div>
        <rect name="1" style="display: none;"></rect>
      </div>
      <div>
        <rect name="2" style="display: none;"></rect>
      </div>
      <div>
        <rect name="3" style="display: none;"></rect>
      </div>
      <div>
        <rect name="4" style="display: none;"></rect>
      </div>
      <div>
        <rect name="5" style="display: none;"></rect>
      </div>
      <div>
        <rect name="6" style="display: none;"></rect>
      </div>
      <div>
        <rect name="7" style="display: none;"></rect>
      </div>
      <div>
        <rect name="8" style="display: none;"></rect>
      </div>
      <div>
        <rect name="9" style="display: none;"></rect>
      </div>
    </div>
  </div>
  <!-- cross -->
  <ten id="cross" class="center-screen " >+</ten>
  <!-- finish btn for game -->
  <button id="finish_btn" style="display: none;"></button>
  <!-- post form -->
  <form method="POST" action="/GQ/EQ" style="display: none;">
    <input name="ID" value="<%=ID%>">
    <input name="password" value="<%=password%>">
  </form>
</body>
<script type="text/javascript" src="/javascripts/Class_inform.js"></script>
<script type="text/javascript">
  var game_get = null;
  var game;
  var img_place = 0;

  function Next() {
    images = $("#image_div").find("img");
    img_place >= images.length - 1 ? img_place = 0 : img_place++;
    $(images[img_place]).removeClass('d-none').siblings("img").addClass('d-none');
    console.log(img_place);
  }
  $(window).on('load', function () {
    $('#main-model').modal({
      backdrop: 'static',
      keyboard: false
    });


    if (localStorage.getItem("one") != null) { //check if have local storage
      $.post("/GQ/SQ/saveData", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          one: localStorage.getItem("one"),
          group: localStorage.getItem("group"),
          type: 'J',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("one");
              localStorage.removeItem("group");
              alert("上次未上傳資料上傳成功");
            } else {
              alert("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            alert("與伺服器斷訊")
        },
        "json"
      );
    }
    if (localStorage.getItem("pr") != null) {
      $.post("/GQ/PR/savePR", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          data: localStorage.getItem("pr"),
          type: 'J',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("pr");
              console.log("上次未上傳資料上傳成功");
            } else {
              console.log("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            console.log("與伺服器斷訊")
        },
        "json"
      );
    }
  });

  $('.btn-group').on('click', '.btn', function () { //practice reality change
    game_get = $(this).val();
    $(this).addClass('active').siblings().removeClass('active');
  });

  $('#start').on('click', function () { //start the game
    if (game_get == "practice") {
      game = new J(30, true);
      game.process();
      $('#main-model').modal('hide');
    } else if (game_get == "reality") {
      game = new J(30);
      game.process();
      $('#main-model').modal('hide');
    }
  });

  $('#finish_btn').on('click', function () {
    console.log(game.one);
    console.log(game.group);
    console.log(game.pr);
    if (game_get == "reality") {
      $('form').children('input[name="one"]').val(game.one);
      $('form').children('input[name="group"]').val(game.group);
      localStorage.setItem("one", game.one);
      localStorage.setItem("group", game.group);
      $.post("/GQ/SQ/saveData", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          one: game.one,
          group: game.group,
          type: 'J',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("one");
              localStorage.removeItem("group");
              $('form').submit();
              alert("資料上傳成功");
            } else {
              alert("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            alert("與伺服器斷訊")
        },
        "json"
      );
      //save pr
      $.post("/GQ/PR/savePR", {
          ID: "<%=ID%>",
          password: "<%=password%>",
          data: game.pr,
          type: 'J',
        },
        function (data, textStatus, jqXHR) {
          if (textStatus == "success") {
            if (data.result == "success") {
              localStorage.removeItem("pr");
              $('form').submit();
              console.log("資料上傳成功");
            } else {
              console.log("資料上傳失敗,失敗原因 : " + data.result);
            }
          } else
            console.log("與伺服器斷訊")
        },
        "json"
      );
    } else { // practice finish reload the page
      location.reload();
    }
  });
</script>

</html>