<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>桌球運動員精準計畫</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>桌球運動員精準計畫</h1>
            </div>
        </div>
    </header>
    <br>
    <div style="font-size:200%" class="container">
        <div >
            <h1>實驗說明與同意書</h1>
            <p>
                本研究透過認知評估、心智訓練、動作分析與心智探索四個方向，分析專業桌球運動員與一般桌球運動愛好者之間的心理與生理差異，協助運動員在練習與比賽中能夠保持在高檔的生理與心理狀態，持續創造佳績。
            </p>
            <p>
                實驗所獲得的資料(或數據)只有研究團隊人員可以使用。未來亦採團體數據分析及發表，不會揭露個人實驗結果，且實驗資料將保存於成功大學心理學系，保存 10 年，於 2029 年後銷毀。
            </p>
            <p>
                若同意進行實驗，請按同意，以填寫基本資料與量表內容。
            </p>
        </div>
    </div>
    <div style="text-align:center">
        <form action="/EW/jumpBoard" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" /><br />
            <input name="password" type="password" value="<%=password%>" style="display:none" /><br />
            <input name="goal" type="text" value="EW3" style="display:none" /><br />
            <input type="submit" style="font-size:200%" class="btn btn-primary col-md-6" value="我已閱讀完畢，並同意上述內容" />
        </form>
    </div>
    <br>
    <br>
</body>
</html>