<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>桌球運動員精準計畫</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>桌球運動員精準計畫</h1>
            </div>
        </div>
    </header>
    <div class="container" style="text-align:center">
        <br>
        <form action="/GQ/EQ" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" />
            <input name="password" type="password" value="<%=password%>" style="display:none" />
            <input type="submit" class="btn btn-primary" style="font-size:200%" value="認知作業" />
        </form>
        <br>
        <form action="/QQ/EQ" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" />
            <input name="password" type="password" value="<%=password%>" style="display:none" />
            <input type="submit" class="btn btn-primary" style="font-size:200%" value="問卷量表" />
        </form>
        <br>
		<!--<form action="/TQ/EQ" method="post">
            <input name="ID" type="text" value="<%=ID%>" style="display:none" />
            <input name="password" type="password" value="<%=password%>" style="display:none" />
            <input type="submit" class="btn btn-secondary" style="font-size:200%" value="認知訓練"/>
        </form>-->
		<input type="button" class="btn btn-secondary" style="font-size:200%" value="認知訓練"/>
        <br>
    </div>
</body>
</html>