<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>桌球運動員精準計畫</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>桌球運動員精準計畫</h1>
            </div>
        </div>
    </header>
    <br>
    <div class="container">
        <div style="text-align:center">
            <input name="Q1" onclick='movePage(this.name)' type="button" value="運動員因應技能量表" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
            <input name="Q2" onclick='movePage(this.name)' type="button" value="運動員心理技能量表" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
            <input name="Q3" onclick='movePage(this.name)' type="button" value="競賽狀態焦慮量表" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
            <input name="Q4" onclick='movePage(this.name)' type="button" value="運動意象能力量表" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
            <input name="Q5" onclick='movePage(this.name)' type="button" value="流暢體驗量表" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
            <input name="Q6" onclick='movePage(this.name)' type="button" value="成人用運動競賽焦慮測驗" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
            <input name="Q7" onclick='movePage(this.name)' type="button" value="情緒智力量表" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
            <input name="Q8" onclick='movePage(this.name)' type="button" value="戈登人格剖析量表" style="font-size:200%" class="btn btn-primary col-md-6"><br><br>
        </div>
        <div>
            <div class="row">
                <label class="col-md-3"></label>
                <input id="HOME" type="button" value="回首頁" style="font-size:200%" class="btn btn-success col-md-3">
                <input id="PR" type="button" value="個人報告" style="font-size:200%" class="btn btn-warning col-md-3">
                <label class="col-md-3"></label>
            </div>
        </div>
    </div>
    <div>
        <form id="form" action="" method="post" style="display:none">
            <input name="ID" type="text" value="<%=ID%>" /><br />
            <input name="password" type="password" value="<%=password%>" /><br />
            <input name="goal" type="text" value="EW5" /><br />
        </form>
    </div>
    <br>
    <br>
    <script>
        //跳問卷
        function movePage(name) {
            $("#form").attr("action", "Questionary/" + name).submit();
        }
        $(document).ready(function () {
            //跳功能頁
            $(".btn-success").click(function () {
                $("#form").attr("action", "/EW/jumpBoard").submit();
            });
            $(".btn-warning").click(function () {
                $("#form").attr("action", "/QQ/PR").submit();
            });
        });
    </script>
</body>
</html>
