<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>test GQ's BW</title>
</head>
<body>
    <form action="/GQ/SQ/saveData" method="post">
        <input name="ID" type="text" class="col-md-4" placeholder="請輸入您的帳號" required /><br />
        <input name="password" type="password" class="col-md-4" placeholder="請輸入您的密碼" required /><br />
        <input name="one" type="text" class="col-md-4" placeholder="one" required /><br />
        <input name="group" type="text" class="col-md-4" placeholder="group" required /><br />
        <input name="type" type="text" class="col-md-4" placeholder="type" required /><br />
        <input type="submit" class="btn btn-success col-md-4" />
    </form>
    <br>
    <form action="/GQ/PR/savePR" method="post">
        <input name="ID" type="text" class="col-md-4" placeholder="請輸入您的帳號" required /><br />
        <input name="password" type="password" class="col-md-4" placeholder="請輸入您的密碼" required /><br />
        <input name="data" type="text" class="col-md-4" placeholder="data" required /><br />
        <input name="type" type="text" class="col-md-4" placeholder="type" required /><br />
        <input type="submit" class="btn btn-success col-md-4" />
    </form>
</body>
</html>