<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>桌球運動員精準計畫</title>
    <script src="../javascripts/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div name="Title" class="jumbotron  mb-0 ">
            <div class="text-center  align-self-center">
                <h1>桌球運動員精準計畫<small>個人報告</small></h1>
            </div>
        </div>
    </header>
    <div class="container" style="font-family:Microsoft JhengHei;font-size:100%">
        <h1 style="text-align:center">桌球選手心智評估結果報告</h1>
        <p style="text-align:center">
            各項作業以五等評比表示，順序是★★、★、●、▼、▼▼，其中★★表示選手表現非常
            好，●表示與一般人表現無差異，▼▼表示該作業需再加強。
        </p>
        <br>
        <div>
            <table style="text-align:center" align="center">
                <tbody class="table table-bordered">
                    <tr>
                        <td bgcolor="yellow">姓名</td>
                        <td><%=name%></td>
                        <td bgcolor="yellow">性別</td>
                        <td id="gender"><%=gender%></td>
                        <td bgcolor="yellow">年齡</td>
                        <td><%=age%></td>
                    </tr>
                    <tr>
                        <td bgcolor="yellow">球齡</td>
                        <td><%=year%></td>
                        <td bgcolor="yellow">慣用手</td>
                        <td id="Ghand"><%=Ghand%></td>
                        <td bgcolor="yellow">打球慣用手</td>
                        <td id="Phand"><%=Phand%></td>
                    </tr>
                    <tr>
                        <td bgcolor="yellow">最佳成績</td>
                        <td colspan="5"><%=nice%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="Chart1"></canvas>
                </div>
                <table style="text-align:center" class="col-md-6">
                    <tbody class="table table-bordered">
                        <tr>
                            <td colspan="6">正確率</td>
                        </tr>
                        <tr>
                            <td>項目</td>
                            <td>注意力網路</td>
                            <td>眼神線索</td>
                            <td>多目標追蹤</td>
                            <td>衝動控制</td>
                            <td>停止訊號</td>
                        </tr>
                        <tr>
                            <td>等級</td>
                            <td id="A_1"></td>
                            <td id="A_2"></td>
                            <td id="A_3"></td>
                            <td id="A_4"></td>
                            <td id="A_5"></td>
                        </tr>
                        <tr>
                            <td>項目</td>
                            <td>逆敘數字記憶</td>
                            <td>空間記憶</td>
                            <td>點協調作業</td>
                            <td>運動抑制</td>
                            <td>情緒觸發</td>
                        </tr>
                        <tr>
                            <td>等級</td>
                            <td id="A_6"></td>
                            <td id="A_7"></td>
                            <td id="A_8"></td>
                            <td id="A_9"></td>
                            <td id="A_10"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="Chart2"></canvas>
                </div>
                <table style="text-align:center" class="col-md-6">
                    <tbody class="table table-bordered">
                        <tr>
                            <td colspan="6">反應速度</td>
                        </tr>
                        <tr>
                            <td>項目</td>
                            <td>注意力網路</td>
                            <td>眼神線索</td>
                            <td>衝動控制</td>
                            <td>停止訊號</td>
                            <td>情緒觸發</td>
                        </tr>
                        <tr>
                            <td>等級</td>
                            <td id="B_1"></td>
                            <td id="B_2"></td>
                            <td id="B_3"></td>
                            <td id="B_4"></td>
                            <td id="B_5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="Chart3"></canvas>
                </div>
                <table style="text-align:center" class="col-md-6">
                    <tbody class="table table-bordered">
                        <tr>
                            <td colspan="6">認知表現</td>
                        </tr>
                        <tr>
                            <td>項目</td>
                            <td>注意力網路</td>
                            <td>眼神線索</td>
                            <td>多目標追蹤</td>
                            <td>衝動控制</td>
                            <td>停止訊號</td>
                        </tr>
                        <tr>
                            <td>等級</td>
                            <td id="C_1"></td>
                            <td id="C_2"></td>
                            <td id="C_3"></td>
                            <td id="C_4"></td>
                            <td id="C_5"></td>
                        </tr>
                        <tr>
                            <td>項目</td>
                            <td>逆敘數字記憶</td>
                            <td>空間記憶</td>
                            <td>點協調作業</td>
                            <td>運動抑制</td>
                            <td>情緒觸發</td>
                        </tr>
                        <tr>
                            <td>等級</td>
                            <td id="C_6"></td>
                            <td id="C_7"></td>
                            <td id="C_8"></td>
                            <td id="C_9"></td>
                            <td id="C_10"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="Chart4"></canvas>
                </div>
                <table style="text-align:center" class="col-md-6">
                    <tbody class="table table-bordered">
                        <tr>
                            <td colspan="6">認知屬性</td>
                        </tr>
                        <tr>
                            <td>項目</td>
                            <td>抑制控制</td>
                            <td>視知覺</td>
                            <td>注意力</td>
                            <td>記憶力</td>
                            <td>情緒</td>
                        </tr>
                        <tr>
                            <td>等級</td>
                            <td id="D_1"></td>
                            <td id="D_2"></td>
                            <td id="D_3"></td>
                            <td id="D_4"></td>
                            <td id="D_5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
    <script>
        var mydata;
        var PRvalue;
        var clr1 = "rgba(255, 159, 255, 0.6)";
        var clr2 = "rgba(255, 159, 64, 0.6)";
        function exchange(num) {
            switch (num) {
                case 0:
                    return 0;
                case 1:
                    return 25;
                case 2:
                    return 50;
                case 3:
                    return 75;
                case 4:
                    return 100;
            }
        }
        function Interval(aPR, aReal, bPR, bReal, cReal) {
            return aPR + (bPR - aPR) * (bReal - aReal) * (cReal - aReal);
        }
        function getPR(type, mode) {
            //mode == true 大為佳
            if (mode) {
                for (var i = 0; i < 5; i++)
                    if (mydata[type] - PRvalue[i][type] <= 0) {
                        if (i == 0)
                            return 0;
                        else
                            return Interval(exchange(i - 1), PRvalue[i - 1][type], exchange(i), PRvalue[i][type], mydata[type]);
                    }
                return 100;
            }
            else {
                for (var i = 0; i < 5; i++)
                    if (mydata[type] - PRvalue[i][type] >= 0) {
                        if (i == 0)
                            return 0;
                        else
                            return Interval(exchange(i - 1), PRvalue[i - 1][type], exchange(i), PRvalue[i][type], mydata[type]);
                    }
                return 100;
            }
        }
        function toLevel(num) {
            if (num < 25)
                return 1;
            else if (num < 50)
                return 2;
            else if (num < 75)
                return 3;
            else if (num < 100)
                return 4;
            else
                return 5;
        }
        function toIcon(num) {
            switch (num) {
                case 1:
                    return "▼▼";
                case 2:
                    return "▼";
                case 3:
                    return "●";
                case 4:
                    return "★";
                case 5:
                    return "★★";
                default:
                    return "NA";
            }
        }
        function outputResult() {
            var Chart1 = document.getElementById('Chart1').getContext('2d');
            var myChart1 = new Chart(Chart1, {
                type: 'radar',
                data: {
                    labels: ['注意力網路', '眼神線索', '多目標追蹤', '衝動控制', '停止訊號', '逆敘數字記憶', '空間記憶', '點協調作業', '運動抑制', '情緒觸發'],
                    datasets: [
                        {
                            label: '你的正確率',
                            data: [getPR("A1", true), getPR("A2", true), getPR("A3", true), getPR("A4", true), getPR("A5", true), getPR("A6", true), getPR("A7", true), getPR("A8", true), getPR("A9", true), getPR("A10", true)],
                            backgroundColor: [
                                clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1
                            ],
                            borderColor: [
                                clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1
                            ],
                            borderWidth: 1
                        },
                        {
                            label: '平均正確率',
                            data: [50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
                            backgroundColor: [
                                clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2
                            ],
                            borderColor: [
                                clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    //tooltips: { enabled: false }
                }
            });
            var Chart2 = document.getElementById('Chart2').getContext('2d');
            var myChart2 = new Chart(Chart2, {
                type: 'radar',
                data: {
                    labels: ['注意力網路', '眼神線索', '衝動控制', '停止訊號', '情緒觸發'],
                    datasets: [
                        {
                            label: '你的反應時間',
                            data: [getPR("B1", false), getPR("B2", false), getPR("B3", false), getPR("B4", false), getPR("B5", false)],
                            backgroundColor: [
                                clr1, clr1, clr1, clr1, clr1
                            ],
                            borderColor: [
                                clr1, clr1, clr1, clr1, clr1
                            ],
                            borderWidth: 1
                        },
                        {
                            label: '平均反應時間',
                            data: [50, 50, 50, 50, 50],
                            backgroundColor: [
                                clr2, clr2, clr2, clr2, clr2
                            ],
                            borderColor: [
                                clr2, clr2, clr2, clr2, clr2
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    //tooltips: { enabled: false }
                }
            });
            var Chart3 = document.getElementById('Chart3').getContext('2d');
            var myChart3 = new Chart(Chart3, {
                type: 'radar',
                data: {
                    labels: ['注意力網路', '眼神線索', '多目標追蹤', '衝動控制', '停止訊號', '逆敘數字記憶', '空間記憶', '點協調作業', '運動抑制', '情緒觸發'],
                    datasets: [
                        {
                            label: '你的認知作業表現',
                            data: [(getPR("C1_1", true) + getPR("C1_2", false)) / 2,
                            getPR("C2", false), getPR("C3", false), getPR("C4", false),
                            (getPR("C5_1", false) + getPR("C5_2", false) + getPR("C5_3", false)) / 3,
                            (getPR("C6_1", false) + getPR("C6_2", false) + getPR("C6_3", false)) / 3,
                            getPR("C7", true), getPR("C8", true), getPR("C9", true),
                            (getPR("C10_1", false) + getPR("C10_2", false) + getPR("C10_3", false)) / 3],
                            backgroundColor: [
                                clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1
                            ],
                            borderColor: [
                                clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1, clr1
                            ],
                            borderWidth: 1
                        },
                        {
                            label: '平均認知作業表現',
                            data: [50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
                            backgroundColor: [
                                clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2
                            ],
                            borderColor: [
                                clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2, clr2
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    //tooltips: { enabled: false }
                }
            });
            var Chart4 = document.getElementById('Chart4').getContext('2d');
            var myChart4 = new Chart(Chart4, {
                type: 'radar',
                data: {
                    labels: ['抑制控制', '視知覺', '注意力', '記憶力', '情緒'],
                    datasets: [
                        {
                            label: '你的認知屬性分數',
                            data: [(getPR("D1_1", true) + getPR("D1_2", true)) / 2,
                            (getPR("D2_1", true) + getPR("D2_2", true)) / 2,
                            (getPR("D3_1", true) + getPR("D3_2", true) + getPR("D3_3", true)) / 3,
                            (getPR("D4_1", true) + getPR("D4_2", true)) / 2,
                            getPR("D5", true)],
                            backgroundColor: [
                                clr1, clr1, clr1, clr1, clr1
                            ],
                            borderColor: [
                                clr1, clr1, clr1, clr1, clr1
                            ],
                            borderWidth: 1
                        },
                        {
                            label: '平均認知屬性分數',
                            data: [50, 50, 50, 50, 50],
                            backgroundColor: [
                                clr2, clr2, clr2, clr2, clr2
                            ],
                            borderColor: [
                                clr2, clr2, clr2, clr2, clr2
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    //tooltips: { enabled: false }
                }
            });
            var ChartList = [];
            ChartList.push(myChart1);
            ChartList.push(myChart2);
            ChartList.push(myChart3);
            ChartList.push(myChart4);
            var list = [];
            for (var i in ChartList) {
                var in_list = [];
                for (var j in ChartList[i].data.datasets[0].data) {
                    in_list.push(toLevel(ChartList[i].data.datasets[0].data[j]));
                }
                list.push(in_list);
            }
            for (var i in list[0]) {
                $("#A_" + (1 + parseInt(i)).toString()).text(toIcon(list[0][i]));
            }
            for (var i in list[1]) {
                $("#B_" + (1 + parseInt(i)).toString()).text(toIcon(list[1][i]));
            }
            for (var i in list[2]) {
                $("#C_" + (1 + parseInt(i)).toString()).text(toIcon(list[2][i]));
            }
            for (var i in list[3]) {
                $("#D_" + (1 + parseInt(i)).toString()).text(toIcon(list[3][i]));
            }
        }
        function init() {
            //數字轉中文
            $("#Ghand").text() == 0 ? $("#Ghand").text("左手") : $("#Ghand").text("右手");
            $("#Phand").text() == 0 ? $("#Phand").text("左手") : $("#Phand").text("右手");
            $("#gender").text() == 0 ? $("#gender").text("男性") : $("#gender").text("女性");
            //呼叫資料
            $.post("/GQ/PR/GetPersonalData", { ID: '<%=ID%>', password: '<%=password%>' }, function (result) {
                if (result.result == "success") {
                    mydata = result.data;
                    $.post("/GQ/PR/GetCriticalData", { ID: '<%=ID%>', password: '<%=password%>' }, function (result) {
                        if (result.result == "success") {
                            PRvalue = result.data;
                            outputResult();
                        }
                        else
                            alert(result.result + ",請重新整理後再試");
                    });
                }
                else
                    alert(result.result + ",請重新整理後再試");
            });
        }
        $(document).ready(function () {
            init();
        });
    </script>
</body>
</html>